<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @query.name %>
</p>

<p>
  <strong>Body:</strong>
  <%= @query.body %>
</p>

<p>
  <strong>Email:</strong>
  <%= @query.email %>
</p>

<p>
  <strong>Projects:</strong>
  <%= @query.projects_id %>
</p>

<%= link_to 'Edit', edit_query_path(@query) %> |
<%= link_to 'Back', queries_path %>
